
#cabecera{
    background-image: url("../imagenes/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
 
}



/*EXTRA SMALL*/
@media(min-width:576px){
    #cabecera h2{
        background: #080808;
        position: relative;
        top: 200px;
        width: 64%;
        color:#ffffff; 
        text-align: center;
        font-family: inherit;
        box-shadow:0px 0px 8px 3px #8c9091;
    } 
}

/*SMALL*/
@media(min-width:768px){
    #cabecera h2{
        background: #080808;
        position: relative;
        top: 200px;
        width: 58.5%;
        color:#ffffff; 
        text-align: center;
        font-family: inherit;
        box-shadow:0px 0px 8px 3px #8c9091;
    } 
}

/*MEDIUM*/
@media(min-width:992px){
    #cabecera h2{
        background: #080808;
        position: relative;
        top: 200px;
        width: 39%;
        color:#ffffff; 
        text-align: center;
        font-family: inherit;
        box-shadow:0px 0px 8px 3px #8c9091;
    } 
}

@media(min-width:1200px){
    #cabecera h2{
        background: #080808;
        position: relative;
        top: 200px;
        width: 33%;
        color:#ffffff; 
        text-align: center;
        font-family: inherit;
        box-shadow:0px 0px 8px 3px #8c9091;
    } 
}

#cabecera h2 #spanh2{
    background: #000000;
    border-left:1px solid #fff;
    position: absolute;
    right: 0;
    width: 0;
    animation:maquina 4s steps(19);
}
@keyframes maquina{
    from{
        width:0%;
    }
}

/*EXTRA SMALL*/
@media(min-width:576px){
    #cabecera h3{
        background: #080808;
        position: relative;
        top: 380px;
        width: 64%;
        color:#ffffff; 
        text-align: center;
        font-family: inherit;
        box-shadow:0px 0px 8px 3px #8c9091;
    } 
}

/*SMALL*/
@media(min-width:768px){
    #cabecera h3{
        background: #080808;
        position: relative;
        top: 380px;
        width: 57.5%;
        color:#ffffff; 
        text-align: center;
        font-family: inherit;
        box-shadow:0px 0px 8px 3px #8c9091;
    } 
}

/*MEDIUM*/
@media(min-width:992px){
    #cabecera h3{
        background: #080808;
        position: relative;
        top: 380PX;
        width: 38%;
        color:#ffffff; 
        text-align: center;
        font-family: inherit;
        box-shadow:0px 0px 8px 3px #8c9091;
    } 
}

@media(min-width:1200px){
    #cabecera h3{
        background: #080808;
        position: relative;
        top: 380px;
        width: 33%;
        color:#ffffff; 
        text-align: center;
        font-family: inherit;
        box-shadow:0px 0px 8px 3px #8c9091;
    } 
}
 #cabecera h3 #spanh3{
    background: #000000;
    border-left:1px solid #fff;
    position: absolute;
    right: 0;
    width: 0;
    animation:maquina 4s  steps(18);
}
@keyframes maquina{
    from{
        width:100%;
    }
}
 
#cabecera h2:hover{
    background: #d1dbdd;
    color: #000000;
    box-shadow:0px 0px 8px 8px #8c9091;
}

#cabecera h3:hover{
    background: #d1dbdd;
    color: #000000;
    box-shadow:0px 0px 8px 8px #8c9091;
}


.banderas #esp{
    position: absolute;
    top: 548px;
    width: 40px;
}

.banderas #ing{
    position: absolute;
    top: 548px;
    width: 45px;
    left: 45px;
}
/*Banner*/
nav{
    background: #79cbf1;
}

nav .navbar-toggler{
    position: relative;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 2rem;
}
nav .navbar-toggler:active{
    background: #eff1f1;
}
.monitor{
    height: 40px;
    width: 40px;
}
.navbar-nav{
    margin: auto;
    text-align: center;
}
.nav-link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    font-size: 20px;
}
.nav-link:hover{
    background: #b6f0f0;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 1px #535252;
    transition: 1000ms;
}

/*Banner*/
/*.banner{
    background: #1dafc9;
    position: relative;
    top:95%;
    display:table;
    width: 100%;
    height: 30px;
    text-align: center;
    border: inset ;
    border-color: #f1f1f1;

}

/*propiedades de las letras del banner*/
/*.banner a{
    color: black;
    box-shadow: #fff6f6;  
    text-decoration: none;
    text-align:center;
    display: inline-block;  
    padding: 2rem;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    word-spacing: 60px;   
}

/*Al pasar el mouse sobre los enlaces*/
/*.banner a:hover{
    position: relative;
    background: #fffdfe;
    color: #000000;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 1px #535252;
    transition: 1000ms;
}
.banner #sobre{
    word-spacing: 0px;
}
/*Al hacer click en las cajas del banner*/
/*.banner a:active{
    position: relative;
    background: #000000;
    color: #f1eded;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 1px #ffffff;
    text-decoration: underline;
}

/*Sección sobre mi*/
.about{
    background: #a8e1eb;
    position: relative;
    top: 100px;
    
}
/*titulo*/
.about #titulo{
    color:black;
    font-size:40px;
    text-decoration: underline;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/*linea del titulo*/
/*#titulo::after,#titulo::before{
    content:'';
    position: absolute;
    width: 6%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    top:6.5%;
}
/*Ubicacion de linea izquierda*/
/*#titulo::before{
    left:34.5%;
}
/*Ubicacion de linea derecha*/
/*#titulo::after{
    left: 59%;
}*/

/*Texto descriptivo*/
.about .sobremi{
    display: inline-block;
    color: black;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1px; 
    text-align: center;
}

/*Imagen*/
.about #imagen #yo{
    border: 2px solid rgb(194, 191, 191);
    border-radius: 200px;
    position: relative;
    top:-10px;
}

/*Al pasar el mouse sobre la imagen*/
.about #imagen #yo:hover{

    border: 2px outset rgb(194, 191, 191)ec;
    border-radius: 200px;
    box-shadow:0px 0px 8px 8px #6db8d1;
}

/*Sección de lenguajes de programación*/
.lenguajes{
    background: #1dafc9; 
    padding: 20px;
    position: relative;
    left: 0%;
    top:350px;
}
.lenguajes:hover{
        opacity: 0.9;
        background:#16a8ec;
        filter: alpha(opacity=10);       
        zoom: 1;
        box-shadow: 0px 5px 8px 8px #16a8ec;
        transition: 500ms;
}
/*Texto HABILIDADES*/
.lenguajes #text{
    color:black;
    text-decoration: underline;
    font-size:40px;
    position: relative;
    top: -10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
/*linea del titulo*/
/*#text::after,#text::before{
    content:'';
    position: absolute;
    width: 6%;
    height: 3px;
    background-color: rgb(34, 4, 4);
    top:42.5%;
}
/*Ubicacion de linea izquierda*/
/*#text::before{
    left:31%;
}
/*Ubicacion de linea derecha*/
/*#text::after{
    left: 63%;
}
/*Margen interior de las imagenes*/
.lenguajes img{
    padding: 2px;
}
/*Titulo lenguajes de programacion*/
.lenguajes p{
    color:black;
    font-size:30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

/*Caja de diseño*/
.diseño{
    background: #a8e1eb;
    padding: 20px;
    position: relative;
    left: 0%;
    top:350px;
    width: 50%;
    height: 10%;
    display: block;
}
/*Al pasar el mouse por hover*/
.diseño:hover{
    opacity: 0.9;
    background:#a8e1ebee;
    filter: alpha(opacity=10);       
    zoom: 1;
    box-shadow: 0px 5px 8px 8px #84c8d4;
    transition: 500ms;

}

/*texto Diseño Web*/
.diseño p{
    padding: 20px;
    color:black;
    font-size:30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
/*imagenes Diseño Web*/
.diseño img{
    padding: 2px;
}

/*imagen CSS*/

/*Caja Base*/
.base{
    background: #1dafc9;
    padding: 20px;
    position: relative;
    width: 50%;
    top:350px;
    height: 10%;
}
/*Al pasar el mouse por la caja*/
.base:hover{
        opacity: 0.9;
        background:#16a8ec;
        filter: alpha(opacity=10);       
        zoom: 1;     
        box-shadow: 0px 5px 8px 8px #16a8ec;
        transition: 500ms;

}
/*Texto base de datos*/
.base p{
    padding: 20px;
    color:black;
    font-size:30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.base img{
    padding: 2px;
}
/*imagen mysql*/
/*.base #mysql{
    width: 25%;
    display: block;
    margin: auto;
}
/*imagen phpmyadmin*/
/*.base #myad{
    width: 25%;
    position: relative;
    left: 15%;
}
/*imagen postgres*/
/*.base #post{
    width: 15%;
    position: relative;
    left: 29%;
    top: 23px;
}
/*pie de pagina footer*/
.pie{
    background: rgb(191, 191, 191);
    position: relative;
    top: 600px;
    height:200px;
   /* border: outset 3px rgb(33, 137, 168);*/
}

/*texto contacto*/
.pie #contacto{
    color:black;
    font-size:40px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    text-align: center;
}

.redes{
    position: relative;
    left: 2%;
}


.pie #lin{
    border-radius: 10px;
}
/*imagen linkedin al pasar el mouse*/
.pie #lin:hover{
    height: auto;
    background:#0e76a8;
    border-radius: 10px;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
/*imagen whatsapp*/
.pie #wpp{
    border-radius: 10px;
}
/*imagen whatsapp al pasar el mouse*/
.pie #wpp:hover{
    border-radius: 10px;
    height: auto;
    background: #00BB2D ;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

.pie #cor{
    border-radius: 10px;
}

.pie #cor:hover{
    background:#1458e98f;
    border-radius: 10px;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

.pie #git{
    border-radius: 10px;
}

.pie #git:hover{
    background:#F4CBB2;
    border-radius: 10px;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

#bo{
    width: 38%;
    height: 35px;
    position: relative;
    top: 50px;
    border-radius: 200px;
    border: solid 1px #000000;
    background: rgb(99, 167, 199);
}

#bo:hover{
    background: #a8e1ebaf;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
#arr #arriba{
    width: 15%;
    height: 22px;
    position: relative;
}
